<div class="chatArea">
<ul>
  <app-message-item *ngFor="let message of messages" [messageItem]="message" [userData]="userData"></app-message-item>

</ul>
</div>

<div class="chatInput m-2 p-3 w-100">
  <form (submit)="sendMessage()">
  <mat-form-field appearance="fill" class="w-100" >
<input name="message" [(ngModel)]="input" matInput type="text" class="w-100">
<button matSuffix [disabled]="input.length <= 0" type="submit" mat-icon-button color="primary"><mat-icon>send</mat-icon></button>
  </mat-form-field>
  </form>
</div>
